.app {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: hidden;
}

button {
  font-size: calc(10px + 2vim);
}

.layout {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}
